.card {
    display: grid;
    position: relative;
    background-color: whitesmoke;
    border-radius: 0.8em;
    padding: 0.8em;
    justify-items: center;
    box-shadow: 15px 15px 19px white inset, 1px 1px 2px darkgrey;
}

.card-image {
    display: block;
    cursor: pointer;
    grid-area: card-image;
    margin: 0;
    padding: 1px;
    max-width: calc(100% - 6px);
    max-height: calc(100% - 6px);
    border: 1px solid lightgray;
    box-shadow: 1px 1px 5px gray inset;
    border-radius: 0.8em;
}
