.catalog {
    display: grid;
    gap: 0.5em;
    grid-template-columns: repeat(auto-fill, var(--card-size));
    align-items: start;
    align-content: start;
    justify-content: space-around;
    min-height: 100vh;
    padding: 0.8em;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAABxJREFUGFdjvH379n9VVVVGBiiAMzAEYCoxVAAAYX0IBSxdH+cAAAAASUVORK5CYII=) repeat;
}

.catalog h1 {
    display: block;
    color: gray;
    text-shadow: 1px 1px lightgray;
    width: 100vw;
    text-align: center;
}
