.search-locations-wrapper {
    display: grid;
    padding: 1em 0;
    justify-content: stretch;
}

.search-with-button {
    display: grid;
    grid-template-areas: "search-box search-button";
    grid-template-columns: 1fr auto;
    border: 1px solid transparent;
    border-left: 1px solid whitesmoke;
    border-top: 1px solid whitesmoke;
    border-radius: 0.1em;
    box-shadow: 1px 1px 1px whitesmoke inset, 2px 2px 2px lightgray;
    min-width: 50vw;
}

.search-button {
    font-size: 1em;
    cursor: pointer;
    grid-area: search-button;
    background-color: inherit;
    border-radius: 0.1.em;
    transition: background-color 0.2s ease;
}

.search-button:hover {
    background-color: whitesmoke;
}

.search-locations-textbox {
    display: block;
    grid-area: search-box;
    padding: 0.6em;
    border: 0;
    border-right: 1px solid lightgray;
    outline: none;
    color: gray;
    font-size: 0.8em;
}

.search-locations-textbox:focus {
    outline: none;
}
