.card {
    display: grid;
    position: relative;
    background-color: whitesmoke;
    border-radius: 0.8em;
    padding: 0.8em;
    justify-items: center;
    box-shadow: 15px 15px 19px white inset, 1px 1px 2px darkgrey;
}

.card-image {
    display: block;
    grid-area: card-image;
    margin: 0;
    padding: 1px;
    max-width: 98%;
    max-height: 98%;
    border: 1px solid lightgray;
    box-shadow: 1px 1px 5px gray inset;
    border-radius: 0.8em;
}

.card-details {
    display: grid;
    opacity: 0.9;
    background-color: whitesmoke;
    grid-area: card-details;
    align-self: end;
    justify-self: end;
    justify-items: start;
    margin-right: 2px;
    margin-bottom: 2px;
    max-width: 70%;
    border-top-left-radius: 0.8em;
    border-bottom-right-radius: 0.8em;
    padding: 0.4em 0.8em 0.5em 0.8em;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      "char-name char-name"
      "char-species char-type";
    box-shadow: 2px 2px 1px lightgray inset, -1px -1px 1px lightgray inset;
}

.card-details p,
.card-details h2 {
    display: block;
    padding: 0;
    margin: 0;
}

.card-details-name {
    grid-area: char-name;
    width: 100%;
    text-shadow: 1px 1px 1px gray;
}

.card-details-type {
    grid-area: char-type;
}

.card-details-species {
    display: grid;
    grid-area: char-species;
    grid-template-areas: "species-label species-name";
    column-gap: 0.5em;
    align-items: end;
}

.card-details-species-label {
    grid-area: species-label;
    font-weight: bold;
}

.card-details-species-name {
    grid-area: species-name;
    font-size: 85%;
    text-transform: lowercase;
}

.card-details-status {
    display: grid;
    position: absolute;
    left: -0.2em;
    bottom: -0.2em;
    font-size: 1em;
    border-radius: 50%;
    background-color: white;
    padding: 0.4em;
    grid-area: char-status;
    text-shadow: 1px 1px 2px black;
    box-shadow: 1px 1px 1px gray;
}

.card-details-status-tooltip {
    position: absolute;
    background-color: white;
    display: block;
    opacity: 0;
    bottom: 3em;
    padding: 0 0.8em;
    font-size: 75%;
    text-transform: lowercase;
    border: 1px dashed lightgray;
    border-radius: 0.2em;
    box-shadow: 1px 1px 1px gray;
}

.card-details-status-icon {
    display: block;
    width: 100%;
    height: 100%;
    right: 1em;
}

.card-details-status:hover .card-details-status-tooltip {
    animation: slideIn 0.1s forwards;
}


@-webkit-keyframes slideIn {
    0% {
        opacity: 0;
        left: -0.4em;
    }
    100% {
        opacity: 0.9;
        left: 0.4em;
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        left: -0.4em;
    }
    100% {
        opacity: 0.9;
        left: 0.4em;
    }
}
